*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style-type: none;
    font-family: sans-serif;
}

html{
    scroll-behavior: smooth;
}

body{
    overflow-x: hidden;
}

/* scroll bar style */

::-webkit-scrollbar{
    width: 15px;
}

::-webkit-scrollbar-track{
    border-radius: 5px;
    box-shadow: inset 0 0 10px rgba(0,0,0,0.25);
}

::-webkit-scrollbar-thumb{
    border-radius: 5px;
    background: linear-gradient(to top, #c72092 , #6c14d0);
}
::-webkit-input-placeholder{
    color: black;
    opacity: 1;
}

/* custom gradient for hero heading */
.custom-gradient{
    background: linear-gradient(to right, #c72092,#6c14d0);
    background-clip: text;
    -webkit-text-fill-color: transparent;
}

.custom-hover span{
    transition: all 0.5s ease-in-out;
}
.custom-hover:hover span{
    transform:translateX(6px)
}

.product-card:hover .small-card{
    opacity: 1;
    transform: translateX(2px)
}

.product-card:hover .card-shoe{
    transform: scale(1.1);
}

/* Review gradient */
.review-gradient{
    background: linear-gradient(to left, #c72092,#6c14d0);
    background-clip: text;
    -webkit-text-fill-color: transparent;
}

/* footer social icon hover effect*/
.social-link:hover i{
    color: white;
}

.social-link::after{
    content: '';
    width: 100%;
    height: 100%;
    top: 0;
    left: -30px;
    background: linear-gradient(-45deg, #c72092 , #6c14d0);
    z-index: -10;
    position: absolute;
    transition: 0.5s;
}
.social-link:hover::after{
    left:0;
    
}
/* .social-link:hover{
    background: linear-gradient(-45deg, #c72092 , #6c14d0);
} */

